.app {
  height: 100vh;
}
.sections {
  width: 100%;

  height: calc(100vh - 70px);
  background-color: rgb(194, 30, 11);
  position: relative;
  top: 70px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;

  & ::-webkit-scrollbar {
    display: none;
  } //hide scrollbar

  > * {
    width: 100vw;
    height: calc(100vh - 70px);
    scroll-snap-align: start;
  }
}
